*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #d5ccfd;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 04px 0;
}

.cabecalho-imagem{
    width: 02%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 15px;
    font-size: 15px;
}

.siteimg-imagem1{
    width: 10%;
    font-size: 0px;
    text-align: center;
}

.tubarão-descricao-item{
    display: inline-block;
    margin-left: 50px;
    font-size: 15px; 
}